---
name: prettier
on: workflow_call
jobs:
  prettier:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - run: npm i -g prettier
      - run: prettier -c .
